@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color:#4be3a6c0 ;
}
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal
}

@font-face {
    font-family: 'Roboto';
    src: url('../fontes/Roboto.otf') format('opentype');
    font-weight: normal
}
:root {
    --cor1: #4CB050;
    --cor2: #048f59;
    --cor3: #4BE3A6;
    --cor4: #00501f;
    --cor5: #2d30ffb4;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Roboto', sans-serif;
    --fonte-android: 'Android', cursive;
}

body{
    background-color: var(--cor5);
    font-family: var(--fonte-padrao);
}

div.video {
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 59%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    line-height: 2em;
}

main strong {
    font-weight: bold;
    padding: 2px 6px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.815);
}

main a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor2);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor3);
}


header {
    background-color: var(--cor2);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    
}

nav {
    background-color: var(--cor3);
    padding: 10px;
    box-shadow: 0px 4px 4.5px rgba(0, 0, 0, 0.600);
}

nav > a {
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    color: var(--cor5);
    font-weight: bolder;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor5);
    color: var(--cor4);
    
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
    margin-bottom: 30px;
    margin: auto;
    border-radius: 5px;
}

main img {
    width: 100%;
}

main img.pequeno {
    max-width: 380px;
    display: block;

}

aside {
    padding: 10px;
    background-color: rgba(0, 175, 0, 0.300);
    border-radius: 10px;
}

aside > ul {
    list-style-position: inside;
    list-style-type: '\26D2\00A0';
}

aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

header > h1 {
    color: rgb(255, 255, 255);
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.500);
    background-color: #4cb04f2c;
}

main h1 {
    color: var(--cor2);
    font-family: var(--fonte-android);
    
} 
main h2{
    font-family: var(--fonte-android);
    color: var(--cor1);
    font-size: 1.4em;
    text-indent: 10px;
}

footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}